<h1>Buchung editieren (Vertrag Nr. <%= @contract.try(:number) %>) </h1>

<%= render 'form' %>

<%= link_to 'Anzeigen', @accounting_entry %> |
<%= link_to 'Buchungsübersicht', accounting_entries_path %>
